<h1>{{team.name}}</h1>

<form method="POST" action="/teams/{{ team._id }}?_method=PUT">
    <input type="text" name="name" value="" />
    <input type="submit" value="Update Team" />
</form>
<form method="POST" action="/teams/{{ team._id }}?_method=DELETE">
    <input type="submit" value="Delete Team" />
</form>

<h2>Your Squad</h2>

<ol>
{{#each players}}
<li>
    <a href="/player/{{_id}}">
    {{name}}
    </a>
</li>
{{/each}}
</ol>

<form method="POST" action="/player">
    <label for="name">Name</label>

    <input type="text" name="name" value=""/>
    <input type="text" name="userId" value="{{team._id}}" READONLY >
    <input type="submit" value="Add New Player" />
</form>